#formEvento {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  justify-self: center;
}

#formEvento input,
#formEvento button {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #000;
}

/* Ajustes para el modo oscuro */
@media (prefers-color-scheme: dark) {
  #formEvento {
    background-color: #333;
  }

  #formEvento input,
  #formEvento button {
    background-color: #555;
    color: #fff;
    border: 1px solid #444;
  }
}
