#formEvento {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 20px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  justify-self: center;
}

#formEvento input,
#formEvento button {
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 20px;
  background-color: #f9f9f9;
  color: #333;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s;
}

#formEvento input:hover,
#formEvento input:focus,
#formEvento button:hover,
#formEvento button:focus {
  border-color: #007bff;
  background-color: #e0e0e0;
}

@media (prefers-color-scheme: dark) {
  #formEvento {
    background-color: #333;
  }

  #formEvento input,
  #formEvento button {
    background-color: #555;
    color: #fff;
    border: 1px solid #444;
  }

  #formEvento input:hover,
  #formEvento input:focus,
  #formEvento button:hover,
  #formEvento button:focus {
    border-color: #007bff;
    background-color: #666;
  }
}
