* {
  box-sizing: border-box;
}

.evento {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
  margin-bottom: 80px;
  position: relative;
}

.evento > img {
  width: 200px;
  height: 70%;
  object-fit: contain;
  transition: transform 0.3s;
}

.evento > img:hover {
  transform: scale(1.2);
}

.evento > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.eventos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 20px;
}

.evento > .like {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: all 0.5s;
  position: absolute;
  top: -5px;
  right: 3px;
}

.evento > .like:hover {
  transform: scale(1.1);
}

.select {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  width: 100%;
}

#menuDesplegable {
  display: flex;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 0.2;
  width: 300px;
  height: 300px;
  align-items: center;
  font-size: 16px;
}

#menuDesplegable ul {
  height: 100px;
  list-style-type: none;
  padding: 0;
  overflow-y: auto;
  width: 100%;
  max-height: 200px;
}

#menuDesplegable li {
  padding: 8px;
  font-size: 20px;
}

.oculto {
  visibility: hidden;
}
.mostrar {
  display: flex;
}

@media (prefers-color-scheme: dark) {
  #menuDesplegable {
    background-color: #555;
    border: 1px solid #444;
  }
}
